* {
  box-sizing: border-box;
}


.side-bar{
  float: left;
  width: 300px;
  height: 100vh;
  background-color: #253141;

  .header{
    display: flex;
    justify-content: space-between;

      &__box__name{
        height: 100px;
        color: $white;
        line-height: 100px;
        font-size: 16px;
        text-align: center;
        margin-left: 20px;
        color: $white;
      }
    
      &__box__lists{
        margin-right: 20px;

      }
      &__box__lists-edit{
        line-height: 100px;

        color: $white;

        }
      &__lists-cog{
        line-height: 100px;
        color: $white;
      }
        
    

    
  }

  .groups {
    height: calc(100vh - 100px);
    background-color:#2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;

    .group{ 
      text-decoration:none;
      margin-bottom: 40px;
      color: $white;

      &__name{
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__message{
        font-size: 11px;
      }

    }
  }
  
}

a {
  text-decoration: none;
}

.link{
  text-decoration:none;
  color: $white;
}

.chat-main{
  float: right;
  width: calc(100vw - 300px);

  .chat-main__main-header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0px 40px;
    background-color:#ffffff;

    &__left-box{
      margin-top: 35px;

      &__user{
        font-size: 20px;
        color: #333333;
      }

      &__member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        margin-right: 5px;
        .member-name {
          display: inline-block;
          margin-left: 5px;
        }
      }

    }

    &__edit{
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      right: 40px;
      text-decoration:none;
      color: #38aef0;
    }
  }
  &__messages{
    height: calc(100vh - 190px);
    background-color:#fafafa;
    padding:35px 40px 46px 40px;
    overflow: scroll;
    
    .message{
      .upper-message{
        display: flex;
        margin-bottom: 10px;
        &__user-name{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          margin-left: 10px;;
          color: #999999;
          font-size: 12px;
        }
      }
      .lower-message{
      color: #434A54;
      font-size: 14px;
      margin-bottom: 10px;
      }
    }
  }

  &__form{
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    .new_message{
      display: flex;
    }
    &__input-box{
      position: relative;
      width: 100%;
    }
    &__message{
      width: 100%;
      height: 100%;
    }
    &__mask{
      position: absolute;
      top: 12px;
      right: 15px;
    }
      &__mask__image{
        font-size: 1.3rem;
        cursor: pointer;
      }

      &__submit{
        float: left;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
  }
}


.hidden{
  display: none;
}